<!DOCTYPE html>
<html>
<body>

<h2>Email Validator</h2>

<form action="/validation" method="post">
  <label for="email">Enter an email:</label><br><br>
  <input type="text" id="email" value="{{ email }}" name="email"><br><br>
  <input type="submit" value="Validate">
</form>

<p>{{ result }}</p>

</body>
</html>

